.blue {
    font-size: 0;
    color: #2ECC40;
    padding-top: 0;
    padding-bottom: 0;
} 


.personBox {
    display: inline-block;
    font-size: 12px;
    width: 50%;
    vertical-align: top;
    
}

.innerDetail {
    width: 80%;
    margin: 0 auto;
    
}

.noMargin {
    padding-left: 0;
}

h2 {
    font-size: 16px;
}

.labelSpan, mat-icon {
    color: #3F51B5;
}



@media screen and (max-width: 650px) {
    .personBox {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        
    }
  }