
<div *ngIf="selectedEmployee">
    <mat-card class = "blue">
     
            <div class = "personBox">
                <mat-icon>face</mat-icon><h3>Employee Details</h3>
                <div><span >ID:</span> <b> {{selectedEmployee.id}}</b></div>
                <div><span>Name:</span><b> {{selectedEmployee.name}}</b></div>
                <div><span>Position:</span> <b> {{selectedEmployee.position}}</b></div>
            </div>

            <div class = "personBox">
                <mat-icon>business_center</mat-icon>  <h3>Companies Worked For</h3>
                <ul class = "noMargin" *ngFor="let details of selectedEmployee.company_array">
                   
                    <div><span>Company Name:</span><b> {{details.name}}</b></div>
                    <div><span>Industry:</span><b> {{details.industry}}</b></div>
                    <hr>
                </ul>
            </div>
       
    </mat-card>
</div>

